.card {
  color: white;
  background-color: black !important;
  border-bottom: 5px solid #2a2a2a;
  margin: calc(10% / 6);
}

.card:hover {
  border-bottom: 5px solid #5aa79f;
}

/* #nopadding {
  padding-left: none !important;
  padding-right: none !important;
} */
.card-img-top {
  height: 40%;
  object-fit: cover;
}

.card-title {
  color: #5aa79f !important;
  margin-bottom: 16px !important;
  font-size: 20px;
}

.readmore {
  color: #5aa79f;
  margin-bottom: 16px;
  cursor: pointer;
  /* align-items: left; */
}

/* #readmorediv {
  display: flex;
  align-items: left;
} */

.card-text {
  color: #999daa;
  font-size: 17px;
  line-height: 20px;
}

.blogmetadata {
  color: #999daa;
}

a {
  color: #999daa;
}

#viewsdiv {
  display: flex;
  flex-direction: row;
}
