#togglecontainer1 {
  width: 260px;
  height: 80px;
  background-color: #171717;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#togglecontainer2 {
  width: 190px;
  height: 80px;
  background-color: #171717;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createBlog {
  color: white;
  padding: 10px 23px;
}

#createBlog:hover {
  background-color: Black;
  color: #5aa79f;
  cursor: pointer;
}

#togglecontainer1 .btn.custom {
  color: white;
  padding: 10px 23px;
}
#togglecontainer1 .btn.custom:hover {
  background-color: Black;
  color: #5aa79f;
  cursor: pointer;
}

/* .outer {
  display: flex;
  align-items: center;
  justify-content: center;
} */
