/*.outerdiv {
    width:100vw;
    height:100vh;
   margin: 0;
   padding: 0;
  }
  .close-button {
    cursor: pointer;
    color: #fff;
    font-size: 20px;
  }
  .innerdiv1{
    background-color:black;
    display:flex;
    flex-direction: row;
    width:100%;
    height:10%;
  }
  .logoimage{
    width:40%;
    height:100%;
  }
  
  .logoimage1{
    width:100%;
    height:100%;
  }
  
  .navbar {
    background-color: black;
    color: #fff;
    
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-toggle {
    background-color:transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    margin-right: 5%;
    height:100%;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    right: -250px;
    transition: right 0.3s ease;
  }
  
  .sidebar.open {
    right: 0;
    background-color: black;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 10px 20px;
  }
  
  .sidebar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  .toggle-icon{
   color:white;
  }*/
  .outerdivd{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
  }
  .innerdiv1d{
    width:100%;
    height:10%;
    margin:0;
    padding:0;
    margin-top: 2%;
  }
  .logoimage{
    width:10%;
    height:100%;
    margin-left: 2%;
  }
  