.blogtitle{
    color:#3CBDB1 !important;
}
.showblogdate{
    color:gray;
    font-size: 18px;
}
.showblogcontent{
    width:100%;
    height:100%;
    padding-top: 3%;
    border-top: 2px solid gray;
}

@media (max-width: 1023px) {
    .showblogimage{
     height:40%;
    }
  }
  @media (min-width: 1024px) {
    .showblogimage{
     height:70%;
    }
  }
  
  